; Enviromux-1 in CPD-1 
define host{
	;use 		generic-host
	use 		linux-server
	notification_period 24x7
	host_name       Enviromux-TEST
	alias 		Enviromux-TEST-1 CPD-1
	address 	10.0.0.49
}

define hostgroup{
	hostgroup_name	Environment-sensors
	alias 		Environment-sensors
	members 	Enviromux-TEST
}

define command{
	command_name 	check_enviromux_mini
	command_line 	$USER2$/check_enviromux_mini $HOSTADDRESS$ -C $ARG1$ -s $ARG2$ -w $ARG3$ -c $ARG4$
}

define service{
	use 			generic-service,srv-pnp
	host_name 		Enviromux-TEST
	service_description 	Temperature-1
	check_command 		check_enviromux_mini!public!temperature1!30!38
}

define service{
	use 			generic-service,srv-pnp
	host_name 		Enviromux-TEST
	service_description 	Humidity-1
	check_command 		check_enviromux_mini!public!humidity1!70!80
}

define service{
	use 			generic-service
	host_name 		Enviromux-TEST
	service_description 	Water Sensor
	check_command 		check_enviromux_mini!public!water!1!1
}

define service{
	use 			generic-service
	host_name 		Enviromux-TEST
	service_description 	Contact-1
	check_command 		check_enviromux_mini!public!contact1!1!1
}

define service{
	use 			generic-service
	host_name 		Enviromux-TEST
	service_description 	Contact #2
	check_command 		check_enviromux_mini!public!contact2!1!1
}
